@import url(https://fonts.googleapis.com/css?family=Lily+Script+One);
*{
  margin:0;
  padding:0;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  font-family: 'Roboto', sans-serif;
}


a{
  text-decoration:none !important;
}





.navbardrop {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;

  /*background:linear-gradient(#404343, #e5e7ee);
  background:-webkit-linear-gradient(#5b5c60, #eee);
  background:-moz-linear-gradient(#5b5c60, #0f1010);*/
  transition: all 0.4s ease-out;
  /*font-family: "Poppins", sans-serif;*/
}


.nav-link {
  color: black;
  /*color: inherit;*/
  transition: all 0.4s;
  text-decoration: none;

}

.nav-link:hover {
  color: red;
}





.nav-brand {
  flex: 1 auto;
  padding: 0 16px;
  font-size: 1.5rem;
  line-height: 1.5;
  overflow: hidden;
  height: 89px;
  display: flex;
  align-items: center;
}

.nav-brand a {
  display: inline-block;
  text-decoration: none;
  /*color: blue;*/
}


.nav-brand img {
  max-width: 80px;
  height: auto;
  vertical-align: initial;
}

@media (min-width: 768px) {
  .nav-brand {
    flex: 0 1 auto;
  }

  .nav-toggle {
    display: none;
  }
}
.nav-collapse {
  flex: 1 1 auto;
  order: 0;
  height: 100%;
}

.nav-list {
  display: flex;
  padding: 0;
  list-style-type: none;
  justify-content: flex-end;
  color: black;
  font-size: 25px;
}


.nav-list__item {
  display: flex;
  align-items: center;
  padding: 0 24px;
  height: 50px;
}
.nav-list__item:first-child {
  margin: 0;
}

.submenu--trigger {
  position: relative;
  cursor: pointer;

}
.submenu--trigger:hover .submenu {
  visibility: visible;
  opacity: 1;
}

/*.third-submenu--trigger {
  position: relative;
  cursor: pointer;
}
.third-submenu--trigger:hover .third-submenu {
  visibility: visible;
  opacity: 1;
}*/

.submenu--trigger i,
.third-submenu--trigger i {
  position: absolute;
  top: calc(50% - 6px);
  right: 8px;
  width: 8px;
  height: 8px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: rotate(45deg);
}

.third-submenu--trigger i {
  transform: rotate(-45deg);
}

.submenu,
.third-submenu {
  opacity: 0;
  visibility: hidden;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  background: white;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.35);
  transition: 0.2s ease-out;

}
.submenu li,
.third-submenu li {
  border-top: 1px solid white;
  font-size: 21px;

}
.submenu li:hover,
.third-submenu li:hover {
  background: white;
  /*color: red;*/
}

.submenu {
  top: 50px;
}



.third-submenu {
  top: 0;
  left: 100%;

}

@media (max-width: 767px) {
  .nav-list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 0em;
    transition: max-height 0.4s;
  }
  .nav-list.showing {
    max-height: 32em;
    transition: max-height 0.4s;
  }
  .nav-list li {
    display: inline-block;
    /*background: #303238;*/
    width: 100%;
    height: auto;
    border-top: 1px solid #525252;
    text-align: center;

  }

  .nav-collapse {
    margin: 0;
    flex: 1 100%;
    order: 2;
  }

  .nav-list__item {
    padding: 0;
  }

  .fa-bars {
    font-size: 40px;
    border-radius: 5px;
  }



  .nav-link {
    position: relative;
    display: block;
    width: 100%;
    padding: 16px;
    opacity: 1;
    font-size: 23px;
  }

  .submenu {
    top: 0;
    height: 0px;
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    transition: 0.4s ease;

  }
  .submenu li {
    background: white;
    display: block;
    padding-left: 20px;
  }

  .submenu--trigger.active .submenu {
    height: auto;
  }

  .third-submenu {
    height: 0px;
    display: block;
    position: static;
    overflow: hidden;
    margin-left: -20px;
  }
  .third-submenu li {
    background: white;
    padding-left: 40px;
  }

  .third-submenu--trigger.active .third-submenu {
    height: auto;
  }

  .submenu,
.third-submenu {
    box-shadow: none;
  }

  .submenu--trigger i,
.third-submenu--trigger i {
    right: 15px;
  }
}





/*banner*/


.banner {
  /*background-color: #F0F8FF;*/
  margin-top: 100px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0.8) 100%), url("./assets/images/Banner.jpg");
  background-size: cover;
  background-position: center;
  padding: 140px 0 100px;
  background-repeat: no-repeat;
  margin:0 auto;
  width: 100%;
  height: auto;
  margin-top:0;

}




@media (min-width: 576px) {
  .banner {
    padding: 200px 0;
    width: 100%;
    height: 100vh;
    min-height: 350px;
    background-position: center;

  }
}



.banner h1 {
  color: red;
  font-size: 25px;
  /*font-family: "Poppins", sans-serif;*/
}


@media (min-width: 576px) {
  .banner h1 {
    font-size: 30px;
    /*font-family: "Poppins", sans-serif;*/
  }

}




/*after banner*/

.content {
  padding: 10px 38px 10px 38px;
  background: white;
}

.inner-content {
  padding-top: 50px;
}

.inner-content-text {
  padding-right: .78125rem;
  padding-left: .78125rem;
  padding-bottom: 40px;
}

.inter-content-subtitle {
  position: relative;
  display: inline-block;
  padding-left: 40px;
  /*font-family: "Poppins", sans-serif;*/
  font-size: .875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .10938rem;
  color: #828282;
}

.inter-content-subtitle::before {
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    width: 25px;
    height: 5px;
    content: "";
    background-color: red;
    opacity: 0.7;
}

.inner-content-title {
  margin-top: 25px;
  margin-right: 60px;
  font-size: 2.125rem;
  font-weight: 700;
  color: red;
}

.inner-content-para {
  margin-top: 25px;
  margin-right: 60px;
  font-size: 1rem;
  line-height: 1.875rem;
  letter-spacing: .04375rem;
  font-style: normal;
  font-weight: 400;
  color: #4c4c4c;
}

.inner-image-container {
  position: relative;
  padding-right: .78125rem;
  padding-left: .78125rem;
  flex: 0 0 100%;
  max-width: 100%;
  height: auto;
}


.inner-content-image {
  position: relative;
  height: 350px;
  background-position: center;
}

.section-images {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.instructor-banner-text{

}


@media screen and (min-width: 820px) {

  .content {
    padding: 0 68px 0 68px;
    background: white;
  }

  .container__ImageRight {
    order: 2;
    margin-left: 8.33333%;
  }

  .content__ImageRight {
    left: 0;
  }

  .container__ImageLeft {
    order: 1;
  }

  .content__ImageLeft {
    right: 0;
  }

  .content__TextLeft {
    order: 1;
  }

  .content__TextRight {
    margin-left: 8.33333%;
    order: 2;
  }

  .inner-content {
    max-width: 80vw;
    padding-top: 100px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
  }

  .inner-content-text {
    padding-right: .9375rem;
    padding-left: .9375rem;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    display: flex;
    min-height: 550px;
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: column;
    justify-content: center;
  }

  .inner-content-title {
    margin-top: 25px;
    margin-right: 60px;
    font-size: 2.125rem;
    font-weight: 700;
    color: red;
  }

  .inner-content-para {
    margin-top: 25px;
    margin-right: 60px;
    font-size: 1.125rem;
    line-height: 1.875rem;
    letter-spacing: .04375rem;
    font-style: normal;
    font-weight: 400;
    color: #4c4c4c;
  }

  .inner-image-container {
    position: relative;
    padding-right: .78125rem;
    padding-left: .78125rem;
    flex: 0 0 50%;
    max-width: 50%;
    height: auto;
  }


  .inner-content-image {
    position: absolute;
    top: 0;
    width: calc(100% - 12.5px);
    height: 100%;
  }

  .section-images {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
}

.hero #cafe {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-top: 30px;
}
.hero #cafe .inner {
  padding-top: 63.35%; /* height/width of image */
  display: block;
  height: 0;
}

/* default screen, non-retina */
.hero #cafe { background-image: url("./assets/images/all seiza.jpg"); }

@media only screen and (max-width: 320px) {
    /* Small screen, non-retina */
    .hero #cafe { background-image: url("./assets/images/all seiza.jpg"); }
}
@media
only screen and (min-resolution: 2dppx) and (max-width: 320px) {
    /* Small screen, retina */
    .hero #cafe { background-image: url("./assets/images/all seiza.jpg"); }
}
@media only screen and (min-width: 321px) and (max-width: 538px) {
    /* Medium screen, non-retina */
    .hero #cafe { background-image: url("./assets/images/all seiza.jpg"); }
}
@media
only screen and (min-resolution: 2dppx) and (min-width: 321px) and (max-width: 538px) {
    /* Medium screen, retina */
    .hero #cafe { background-image: url("./assets/images/all seiza.jpg"); }
}
@media
only screen and (min-resolution: 2dppx) and (min-width: 539px) {
    /* Large screen, retina */
    .hero #cafe { background-image: url("./assets/images/all seiza.jpg"); }
}

.divider {
  padding:0;
  margin:0;
}
.divider h1 {
  margin: 10%;
  text-align:center;
  font-size:48px;
  color: red;
}


/*directions css*/

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide img {
  width: 600px;
  height: 400px;
}
.swiper-pagination-bullet-active {
  background-color: red;
}

.directions-title {
  margin-top: 25px;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: red;
  /*font-family: "Poppins", sans-serif;*/
}


/*friends section*/
#friends-chi {
    width: 100%;
    position: relative;

}

.friends_care {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 4em 2em;
    background-color: #e1e1e1;
}

.icon img {
    width: 3em;
    display: flex;
    position: absolute;
}
.detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5em;
    margin-top: 0.4em;
}

@media all and (max-width: 62em) {
    .friends_care {
        display: inline-flex;
        flex-wrap: wrap;
    }
    .column {
        display: flex;
        justify-content: center;
        margin-top: 1em;
        margin-bottom: 1em;
        padding-left: 1em;
        padding-right: 1em;
    }
}
.friends-title {
  margin-top: 25px;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: red;
  font-family: "Poppins", sans-serif;
}



/*contact us */

 .sec-title-style1 {
  position: relative;
  display: block;
  margin-top: -9px;
  padding-bottom: 50px;
}
.sec-title-style1.max-width {
  position: relative;
  display: block;
  max-width: 770px;
  margin: -9px auto 0;
  padding-bottom: 52px;
}
.sec-title-style1.pabottom50 {
  padding-bottom: 42px;
}
.sec-title-style1 .title {
  position: relative;
  display: block;
  color: black;
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
  text-transform: uppercase;
}
.sec-title-style1 .title.clr-white {
  color: red;
}
.sec-title-style1 .decor {
  position: relative;
  display: block;
  width: 70px;
  height: 5px;
  margin: 19px 0 0;
}
.sec-title-style1 .decor:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  height: 5px;
  /*background: #ffa500;*/
  border-radius: 50%;
  content: "";
}
.sec-title-style1 .decor:after {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 5px;
  height: 5px;
  background: red;
  border-radius: 50%;
  content: "";
}
.sec-title-style1 .decor span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 1px;
  background: white;
  margin: 2px 0;
}

.sec-title-style1 .text {
  position: relative;
  display: block;
  margin: 7px 0 0;
}
.sec-title-style1 .text p {
  position: relative;
  display: inline-block;
  padding: 0 15px;
  color: black;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
.sec-title-style1 .text.clr-yellow p {
  color: white;
}
.sec-title-style1 .text .decor-left {
  position: relative;
  top: -2px;
  display: inline-block;
  width: 70px;
  height: 5px;
  background: transparent;
}
.sec-title-style1 .text .decor-left span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 1px;
  background: red;
  content: "";
  margin: 2px 0;
}
.sec-title-style1 .text .decor-left:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  height: 5px;
  background: red;
  border-radius: 50%;
  content: "";
}
.sec-title-style1 .text .decor-left:after {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 5px;
  height: 5px;
  background: red;
  border-radius: 50%;
  content: "";
}

.sec-title-style1 .text .decor-right {
  position: relative;
  top: -2px;
  display: inline-block;
  width: 70px;
  height: 5px;
  background: transparent;
}
.sec-title-style1 .text .decor-right span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 1px;
  background: red;
  content: "";
  margin: 2px 0;
}
.sec-title-style1 .text .decor-right:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5px;
  height: 5px;
  background: red;
  border-radius: 50%;
  content: "";
}
.sec-title-style1 .text .decor-right:after {
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 5px;
  height: 5px;
  background: red;
  border-radius: 50%;
  content: "";
}

.sec-title-style1 .bottom-text {
  position: relative;
  display: block;
  padding-top: 16px;
}
.sec-title-style1 .bottom-text p {
  color: black;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
}
.sec-title-style1 .bottom-text.clr-gray p {
  color: black;
}
.contact-address-area {
  position: relative;
  display: block;
  background: #cdcdcd;
  padding: 100px 0 120px;
}
.contact-address-area .sec-title-style1.max-width {
  padding-bottom: 72px;
}
.contact-address-box {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.single-contact-address-box {
  position: relative;
  display: block;
  background: white;
  padding: 85px 30px 77px;
}
.single-contact-address-box .icon-holder {
  position: relative;
  display: block;
  padding-bottom: 24px;
}
.single-contact-address-box .icon-holder span:before {
  font-size: 75px;
}
.single-contact-address-box h3 {
  color: red;
  margin: 0px 0 9px;
}
.single-contact-address-box h2 {
  color: black;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 19px;
}
.single-contact-address-box a {
  color: black;
}

.single-contact-address-box.main-branch {
  background: #e1e1e1;
  padding: 53px 30px 51px;
  margin-top: -20px;
  margin-bottom: -20px;
}
.single-contact-address-box.main-branch h3 {
  color: black;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 38px;
  text-transform: uppercase;
  text-align: center;
}
.single-contact-address-box.main-branch .inner {
  position: relative;
  display: block;
}
.single-contact-address-box.main-branch .inner ul {
  position: relative;
  display: block;
  overflow: hidden;
}
.single-contact-address-box.main-branch .inner ul li {
  position: relative;
  display: block;
  padding-left: 110px;
  border-bottom: 1px solid black;
  padding-bottom: 23px;
  margin-bottom: 24px;
}
.single-contact-address-box.main-branch .inner ul li:last-child {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.single-contact-address-box.main-branch .inner ul li .title {
  position: absolute;
  top: 2px;
  left: 0;
  display: inline-block;
}
.single-contact-address-box.main-branch .inner ul li .title h4 {
  color: black;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-transform: capitalize;
  border-bottom: 2px solid black;
}

.single-contact-address-box.main-branch .inner ul li .text {
  position: relative;
  display: block;
}
.single-contact-address-box.main-branch .inner ul li .text p {
  color: black;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin: 0;
}















